{% extends "layout.html" %}

{% block title %} 注册 {% endblock %}

{% block head %}
    <div id='myModal' class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">友情提示</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-warning " role="alert" id="modal-alert"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for("static",filename='js/p2p/layout.js') }}"></script>
{% endblock %}
{% block body %}

    <link type="text/css" rel="stylesheet" href="{{ url_for("static",filename='css/sign_in.css') }}">


    <div class="container" style="margin-top: 250px; ">

        <div class="row">
            <div class="col-md-offset-4 col-md-4 ">

                <p><a href="/home" style="color: white"> 返回首页 </a></p>
                <p><input class="sign_in_input" id="username" placeholder="请输入用户名" autofocus></p>
                <p><input class="sign_in_input" id="password" type="password" placeholder="请输入密码"></p>
                <p><input class="sign_in_input" id="password2" type="password" placeholder="请确认密码"></p>
                <button class="btn btn-lg btn-info btn-block" style="margin-top:10px;opacity: 0.9"
                        onclick="sign_in()">注 册
                </button>
            </div>
        </div>
    </div>

    <script src="{{ url_for("static",filename='js/p2p/register.js') }}"></script>
{% endblock %}
