{% extends "layout.html" %}

{% block title %} 想投资 {% endblock %}

{% block body %}
    <link type="text/css" rel="stylesheet" href="{{ url_for("static",filename='css/xtz.css') }}">


    <div class="container" style="margin-top: 70px;">
        <div class="row">

            <div class="col-md-4">
                <div class="div_block">
                    <h3>VIP专享NO.001期</h3>
                    <p><span class="label" style="background-color:#FF7F24 ">个金所</span></p>
                    <h2 style="color:  #FF7F24">10.00%</h2>
                    <h6 style="color: darkgrey">年化收益率</h6>
                    <hr>
                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                10000.00元起
                            </div>
                            <div class="col-md-6">
                                期限 305天
                            </div>
                        </div>
                    </div>
                    <hr>
                    <p><a href="http://licai.ommo.cn/pop/invest/pop_info.htm?proId=Project2016050700361052037">查看详情</a>
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="div_block">
                    <h3>VIP专享NO.002期</h3>
                    <p><span class="label" style="background-color:#FF7F24 ">个金所</span></p>
                    <h2 style="color:  #FF7F24">8.00%</h2>
                    <h6 style="color: darkgrey">年化收益率</h6>
                    <hr>
                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                10000.00元起
                            </div>
                            <div class="col-md-6">
                                期限 133天
                            </div>
                        </div>
                    </div>
                    <hr>
                    <p><a href="http://licai.ommo.cn/pop/invest/pop_info.htm?proId=Project2016050622451897898">查看详情</a>
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="div_block">
                    <h3>VIP专享NO.003期</h3>
                    <p><span class="label" style="background-color:#FF7F24 ">个金所</span></p>
                    <h2 style="color:  #FF7F24">8.00%</h2>
                    <h6 style="color: darkgrey">年化收益率</h6>
                    <hr>
                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                10000.00元起
                            </div>
                            <div class="col-md-6">
                                期限 140天
                            </div>
                        </div>
                    </div>
                    <hr>
                    <p><a href="http://licai.ommo.cn/pop/invest/pop_info.htm?proId=Project2016050623514219619">查看详情</a>
                    </p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="div_block">
                    <h3>新客专享计划2803期</h3>
                    <p><span class="label" style="background-color:#FF7F24 ">宝象金融</span></p>
                    <h2 style="color:  #FF7F24">14.00%</h2>
                    <h6 style="color: darkgrey">年化收益率</h6>
                    <hr>
                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                100.00元起
                            </div>
                            <div class="col-md-6">
                                期限 1个月
                            </div>
                        </div>
                    </div>
                    <hr>
                    <p><a href="https://www.nonobank.com/Licai/FinancePlan/2803">查看详情</a></p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="div_block">
                    <h3>精选计划2804期</h3>
                    <p><span class="label" style="background-color:#FF7F24 ">宝象金融</span></p>
                    <h2 style="color:  #FF7F24">9.30%</h2>
                    <h6 style="color: darkgrey">年化收益率</h6>
                    <hr>
                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                1000.00元起
                            </div>
                            <div class="col-md-6">
                                期限 3个月
                            </div>
                        </div>
                    </div>
                    <hr>
                    <p><a href="https://www.nonobank.com/Licai/FinancePlan/2803">查看详情</a></p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="div_block">
                    <h3>活期宝</h3>
                    <p><span class="label" style="background-color:#FF7F24 ">农发贷</span></p>
                    <h2 style="color:  #FF7F24">6.00%</h2>
                    <h6 style="color: darkgrey">年化收益率</h6>
                    <hr>
                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                100.00元起
                            </div>
                            <div class="col-md-6">
                                期限 按日计息
                            </div>
                        </div>
                    </div>
                    <hr>
                    <p><a href="https://www.nongfadai.com/register360.html?channel=bdpz000001">查看详情</a></p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="div_block">
                    <h3>叶某 经营周转 (北京-海淀)</h3>
                    <p><span class="label" style="background-color:#FF7F24 ">银湖网</span></p>
                    <h2 style="color:  #FF7F24">7.00%</h2>
                    <h6 style="color: darkgrey">年化收益率</h6>
                    <hr>
                    <div>
                        <div class="row">
                            <div class="col-md-6">
                                100.00元起
                            </div>
                            <div class="col-md-6">
                                期限 34天
                            </div>
                        </div>
                    </div>
                    <hr>
                    <p><a href="https://www.yinhu.com/loan/loan_detail.bl?loanNo=12608">查看详情</a></p>
                </div>
            </div>

        </div>
    </div>

{% endblock %}